* {
  margin: 0;
}

.app {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.app__imgPaper {
  object-fit: contain;
  height: 150px;
  width: 100px;
}
